<html>
    <head>
        <title>Choose Your Own Adventure</title>
    </head>
    <body>
        <div id="title">
            {{ .Title }}
        </div>
        <div id="story">
            {{ range .Content }}
                <p>{{ . }}</p>
            {{ end }}
        </div>
        <div id="options">
        </div>
    </body>
</html>