<html>
    <head>
        <title>Choose Your Own Adventure</title>
    </head>
    <body>
        <div id='title'>
            {{ .Title }}
        </div>
        <div id='story'>
            {{ range .Content }}
                <p>{{ . }}</p>
            {{ end }}
        </div>
        <div id='options'>
            {{ range .Paths }}
                <p><a href='{{ .Arc }}'>{{ .Description }}</a></p>
            {{ end }}
        </div>
    </body>
</html>